{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <div class="form">
        <form>
           <label class="input">Enter your nick:</label>
             <input class="input" type="text">
            <label class="input">Enter your email:</label>
                <input class="input" type="email">
            <label class="input">Enter your text:</label>
                <input class="input" type="textarea">
            <input  id="btn" type="button" value="Send it!">
        </form>
    </div>
{% endblock %}