<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="nav">
        <div class="menu"><a href="index">Home Page</a></div>
        <div class="menu"><a href="about">About us</a></div>
        <div class="menu"><a href="gallery">Gallery</a></div>
        <div class="menu"><a href="contact">Contact us</a></div>
    </div>
    <div class="form">
        <form>
           <label class="label">Podaj swój nick:</label>
             <input class="input" type="text">
            <label class="label">Podaj swój email:</label>
                <input class="input" type="email">
            <label class="label">Wpisz tekst:</label>
                <input class="input" type="textarea">
            <input class="btn" type="submit" value="Wyślij formularz">
        </form>
    </div>
</body>
</html>