{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <div class="form">
        <form>
           <label class="label">Podaj swój nick:</label>
             <input class="input" type="text">
            <label class="label">Podaj swój email:</label>
                <input class="input" type="email">
            <label class="label">Wpisz tekst:</label>
                <input class="input" type="textarea">
            <input  id="btn" type="button" value="Wyślij formularz">
        </form>
    </div>
{% endblock %}