{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}
    <div class="nav">
        <div class="menu"><a href="index">Home Page</a></div>
        <div class="menu"><a href="about">About us</a></div>
        <div class="menu"><a href="gallery">Gallery</a></div>
        <div class="menu"><a href="contact">Contact us</a></div>
    </div>
    <div class="gallery">
        <div class="image"><img src="/static/img/kl.jpg"></div>
        <div class="image"><img src="/static/img/mj.jpg"></div>
        <div class="image"><img src="/static/img/kobe.jpg"></div>
        <div class="image"><img src="/static/img/wadelj.jpg"></div>
    </div>
{% endblock %}