<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="nav">
        <div class="menu"><a href="index">Home Page</a></div>
        <div class="menu"><a href="about">About us</a></div>
        <div class="menu"><a href="gallery">Gallery</a></div>
        <div class="menu"><a href="contact">Contact us</a></div>
    </div>
    <div class="gallery">
        <div class="image"><img src="/static/img/kl.jpg"></div>
        <div class="image"><img src="/static/img/mj.jpg"></div>
        <div class="image"><img src="/static/img/kobe.jpg"></div>
        <div class="image"><img src="/static/img/wadelj.jpg"></div>
    </div>
</body>
</html>