{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "index" -%}
{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item py-5 active">
                    <div class="row-index">
                        <a href="/static/img/kl.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/kl.jpg"></div>
                        </a>
                        <a href="/static/img/mj.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/mj.jpg"></div>
                        </a>
                        <a href="/static/img/kobe.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/kobe.jpg"></div>
                        </a>
                    </div>
                </div>
                <div class="carousel-item py-5">
                    <div class="row-index">
                        <a href="/static/img/wadelj.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/wadelj.jpg"></div>
                        </a>
                        <a href="/static/img/bryant.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/bryant.jpg"></div>
                        </a>
                        <a href="/static/img/jordan.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/jordan.jpg"></div>
                        </a>
                    </div>
                </div>
                <div class="carousel-item py-5">
                    <div class="row-index">
                        <a href="/static/img/curry.jpeg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/curry.jpeg"></div>
                        </a>
                        <a href="/static/img/morant.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/morant.jpg"></div>
                        </a>
                        <a href="/static/img/lebron.jpg" data-toggle="lightbox">
                            <div class="image col-sm-4 img-fluid"><img src="/static/img/lebron.jpg"></div>
                        </a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Home Page</h1>
    </div>
</div>
{% endblock %}
